body{
    font-family: "Roboto", sans-serif;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgb(196, 196, 196);
    padding: 15px;
    width: 85%;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    color: black;
}

section.page-body{
    width: 85%;
    margin: 5px auto;
    padding: 15px;
    background-color: rgb(216, 216, 216);
}

div.page-title{
    display: inline-block;
    background-color: rgb(196, 196, 196);
    padding: 1px 5px;
    width: 40%;
}
div.button{
    display: inline-block;
    background-color: rgb(196, 196, 196);
    padding: 15px;
}
div.button a{
    text-decoration: none;
    color: black;
}
div.button button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1px 5px;
}
div.button:hover{
    background-color: rgb(128, 128, 128);
    transition: .3s;
    cursor: pointer;
}